//Created by Mohammed Suboor on 30-01-2017.
doctype html
html
    include ../includes/headInclude
    body
        h1 My Site
        p Welcome to my super lame site.
        include ../includes/footerInclude